.config.cache
GD.bs
GD.c
GD.o
GD.obj
MYMETA.json
MYMETA.yml
Makefile
bdf_scripts/bdf2gdfont.pl
blib/
lib/GD/Image.pm
pm_to_blib
GD-*.tar.gz
log.*
GD.c.gcov
GD.gcda
GD.gcno
GD.xs.gcov
cover_db/
inline.h.gcov
test_data/
